absl-py==0.9.0
aiohttp==3.8.6
aiosignal==1.3.1
alabaster==0.7.12
apex==0.1
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asn1crypto==1.5.1
astor==0.8.1
async-timeout==4.0.3
attrs==19.3.0
audioread==2.1.9
Babel==2.9.1
backcall==0.1.0
bleach==3.1.0
boto==2.49.0
boto3==1.10.48
botocore==1.13.48
cachetools==4.2.4
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
cloudpickle==2.0.0
codecov==2.1.12
conda==4.11.0
conda-build==3.21.7
contourpy==1.1.1
coverage==6.3
cryptography==2.3.1
cycler==0.10.0
Cython==0.29.26
debugpy==1.5.1
decorator==4.4.1
defusedxml==0.6.0
docutils==0.15.2
entrypoints==0.3
expecttest==0.1.3
fastrlock==0.8
flake8==3.7.9
Flask==2.0.2
fonttools==4.29.0
frozenlist==1.4.0
fsspec==2022.1.0
future==0.18.2
gast==0.3.3
gdown==4.7.1
gensim==3.8.1
glob2==0.7
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.1.8
googledrivedownloader==0.4
graphviz==0.8.4
grpcio==1.27.1
h5py==3.10.0
HeapDict==1.0.1
hypothesis==4.50.8
idna==2.8
imageio==2.31.6
imagesize==1.3.0
importlib-metadata==0.23
importlib-resources==5.4.0
iniconfig==1.1.1
ipykernel==5.1.3
ipython==7.9.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isodate==0.6.0
itsdangerous==2.0.1
jedi==0.15.1
Jinja2==2.10.3
jmespath==0.9.4
joblib==1.3.2
json5==0.9.6
jsonpatch==1.24
jsonpointer==2.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.3
jupyterlab==2.3.2
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
jupytext==1.13.6
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
lazy_loader==0.3
librosa==0.8.1
lightning-utilities==0.9.0
littleutils==0.2.2
llvmlite==0.36.0
lmdb==1.3.0
locket==0.2.1
Markdown==3.2
markdown-it-py==1.1.0
MarkupSafe==1.1.1
matplotlib==3.7.3
mccabe==0.6.1
mdit-py-plugins==0.3.0
mistune==0.8.4
more-itertools==7.2.0
msgpack==1.0.3
multidict==6.0.4
nbclient==0.5.10
nbconvert==5.6.1
nbformat==4.4.0
nest-asyncio==1.5.4
networkx==3.1
nltk==3.6.7
notebook==6.1.6
numpy==1.24.4
nvidia-dali-cuda110==1.9.0
nvidia-pyindex==1.0.9
nvtx==0.2.3
oauthlib==3.1.1
ogb==1.3.6
olefile==0.46
outdated==0.2.2
pandas==1.3.5
pandocfilters==1.4.2
parso==0.5.1
partd==1.2.0
patsy==0.5.3
pexpect==4.7.0
Pillow==10.0.1
pip==21.2.4
pluggy==1.0.0
plyfile==0.7.1
polygraphy==0.33.0
pooch==1.6.0
prettytable==3.0.0
prometheus-client==0.7.1
prompt-toolkit==2.0.10
protobuf==3.11.3
ptyprocess==0.6.0
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.9.0
pycodestyle==2.5.0
pycparser==2.19
pydot==1.4.2
pyflakes==2.1.1
pyg-lib==0.2.0+pt112cu102
Pygments==2.4.2
pynvml==11.4.1
pyparsing==2.4.6
pyrsistent==0.15.6
pytest==6.2.5
pytest-cov==3.0.0
pytest-pythonpath==0.7.3
python-dateutil==2.8.1
python-hostlist==1.21
python-louvain==0.16
python-nvd3==0.15.0
python-slugify==5.0.2
pytorch-lightning==2.0.2
pytorch-quantization==2.1.2
pytz==2019.3
PyWavelets==1.4.1
pyzmq==18.1.1
qtconsole==4.6.0
rdflib==4.2.2
regex==2022.1.18
requests==2.22.0
requests-oauthlib==1.3.0
resampy==0.2.2
revtok @ git+git://github.com/jekbradbury/revtok.git@f1998b72a941d1e5f9578a66dc1c20b01913caab
rsa==4.8
s3transfer==0.2.1
sacremoses==0.0.47
scikit-image==0.21.0
scikit-learn==1.3.2
scipy==1.8.0
seaborn==0.13.0
Send2Trash==1.5.0
setuptools==59.5.0
smart-open==1.9.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
SoundFile==0.10.3.post1
Sphinx==4.4.0
sphinx-glpi-theme==0.3
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
statsmodels==0.14.0
tabulate==0.8.9
tblib==1.7.0
tensorboard==2.2.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.3
threadpoolctl==3.0.0
tifffile==2023.7.10
toml==0.10.2
tomli==2.0.0
toolz==0.11.2
torch==1.12.1+cu102
torch-cluster==1.6.0+pt112cu102
torch-scatter==2.1.0+pt112cu102
torch-sparse==0.6.16+pt112cu102
torch-spline-conv==1.2.1+pt112cu102
torch_geometric==2.4.0
torchaudio==0.12.1+cu102
torchfile==0.1.0
torchmetrics==1.2.0
torchnet==0.0.4
torchvision==0.13.1+cu102
tornado==6.0.3
traitlets==4.3.3
urllib3==1.25.7
visdom==0.1.8.9
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.56.0
Werkzeug==1.0.0
wget==3.2
wheel==0.37.0
widgetsnbextension==3.5.1
wrapt==1.10.11
yarl==1.9.2
zict==2.0.0
zipp==3.17.0